@import "~purecss/build/pure.css";
@import "variables";

body, #root {
    width: 100vw;
    height: 100vh;
    padding:0;
    margin: 0;
    display: flex;
    flex: 1;
    flex-flow: column;
}

nav, footer {
    display: flex;
    flex: 0 0 50px;
    background-color: $nav-color;
}


main {
    display: flex;
    flex: 1;
    background-color: $bg-color;
}

.grid, .row, .cell {
    display: flex;
    flex: 1;
}
.grid {
    flex-flow: column;
}
.row {
    flex-flow: row;
}
.cell {
    justify-content: center;
    align-items: center;
    font-size: 50pt;

    &.current::before {
        content: "🤔";
    }
    &.wall {
        background-color: gray;
    }
    &.path.entry{
        background-color: whitesmoke;
    }
    &.path.exit {
        background-color: lightgray;
        &:before {
            content: "👓";
        }

        &.current::before {
            content: "🤓";
        }
    }
}
.arrow {
    color: #737373;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}
.up:before  {
    content: "↑";
}
.left:before  {
    content: "←";
}
.right:before  {
    content: "→";
}
.down:before  {
    content: "↓";
}
.grid-wrapper {
    display: flex;
    flex: 1;
    flex-flow: column;
}
.grid-bar {
    display: flex;
    flex: 0 0 40px;
    background-color: $nav-color;
    justify-content: center;
}
